<% layout('layouts/boilerplate') %> 
<div class="row">
  <h1 class="text-center">New Touristspot</h1>
  <div class="col-6 offset-3">
    <form action="/touristspots" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="touristspot[title]" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="touristspot[location]" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="touristspot[image]" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Touristspot Price</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">$</span>
        <input type="text" class="form-control" id="price-label" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="touristspot[price]"required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
    </div>
      <div class="mb-3">
        <label class="form-label" for="description">description </label>
        <textarea class="form-control" type="text" id="description" name="touristspot[description]" required></textarea>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>

      
      <div class="mb-3">
        <button class="btn btn-success">Add Touristspot</button>
      </div>
      
    </form>
    <a href="/touristspots">All Touristspots</a>
    
  
  </div>
</div>

